<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <!--build:css css/styles.min.css-->
    <link href="css/main.css" rel="stylesheet">
    <!--endbuild-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>
<body class="stretched">

<!-- The Main Wrapper
============================================= -->
<div id="wrapper" class="clearfix">



    <!-- Content -->
    <div id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <section>
                    <div class="box">Test</div>
                </section>

            </div>

        </div>

    </div>

    <!-- Footer
    ============================================= -->
    <footer id="footer" class="dark">

        <div class="container">

            ...

        </div>

        <!-- Copyrights
        ============================================= -->
        <div id="copyrights">

            <div class="container clearfix">

                ...

            </div>

        </div>

    </footer>

</div>

<!--[if lt IE 9]>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
<!--build:js js/main.min.js -->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/functions.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<!-- endbuild -->

<script type="text/javascript" src="http://birdeye.com/embed/v4/147499703823236/3/4261390074"></script>


<!-- Google Map Script
    ========================= -->
<script>
    var map;
    function initMap() {
        var myLatLng = {lat: 29.562602, lng: -98.681717};
        map = new google.maps.Map(document.getElementById('google-map'), {
            center: myLatLng,
            zoom: 17,
            scrollwheel: false,
            draggable: false
        });
        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Aurora Family Dentistry'
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8M-t-mC3X8wlQvyy6a93iVQ3v2JGv9Q4&callback=initMap" async
        defer></script>

</body>
</html>