<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <!--build:css css/styles.min.css-->
    <link href="css/main.css" rel="stylesheet">
    <!--endbuild-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>
<body class="stretched">

<!-- The Main Wrapper
============================================= -->
<div id="wrapper" class="clearfix">



    <!-- Content -->
    <div id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <section>
                    <div class="box">Test</div>
                </section>

            </div>

        </div>

    </div>

    <footer id="footer">

        <div class="container">

            <!-- Footer Widgets
            ============================================= -->


        </div>

        <!-- Copyrights
       ============================================= -->
        <div id="copyrights">

            <div class="container clearfix">

                <div class="col_half">
                    <span class="copyright">Copyright © 2016 All Rights Reserved by <a class="tyson-link" href="http://www.tysonsteele.com" target="_blank">Tyson&nbsp;Steele&nbsp;Associates.</a></span>
                </div>

                <div class="col_half col_last tright">
                    <div class="fright clearfix">
                        <a href="https://www.facebook.com/WestsideFamilyDental" class="social-icon si-colored si-facebook" target="_blank">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>

                        <a href="https://www.google.com/search?q=westside+family+dental+Lakewood+OH&cad=h#lrd=0x8830f28f3545044f:0x1d351e8dc3182ae8,1," class="social-icon si-colored si-gplus" target="_blank">
                            <i class="icon-gplus"></i>
                            <i class="icon-gplus"></i>
                        </a>

                        <a href="https://twitter.com/LakewoodDDS" class="social-icon si-colored si-twitter" target="_blank">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>

                        <a href="https://www.youtube.com/user/drmichaelpap?ob=0&feature=results_main" class="social-icon si-youtube si-colored" target="_blank">
                            <i class="icon-youtube"></i>
                            <i class="icon-youtube"></i>
                        </a>

                    </div>

                    <div class="clear"></div>

                </div>

            </div>

        </div><!-- #copyrights end -->

    </footer><!-- #footer end -->

</div>

<!--[if lt IE 9]>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
<!--build:js js/main.min.js -->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/functions.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<!-- endbuild -->

<script type="text/javascript" src="http://birdeye.com/embed/v4/147499703823236/3/4261390074"></script>


<!-- Google Map Script
    ========================= -->
<script>
    var map;
    function initMap() {
        var myLatLng = {lat: 29.562602, lng: -98.681717};
        map = new google.maps.Map(document.getElementById('google-map'), {
            center: myLatLng,
            zoom: 17,
            scrollwheel: false,
            draggable: false
        });
        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Aurora Family Dentistry'
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8M-t-mC3X8wlQvyy6a93iVQ3v2JGv9Q4&callback=initMap" async
        defer></script>

</body>
</html>