<!-- Header
		============================================= -->
<header id="header" class="split-menu">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
            <div id="logo">
                <a href="index.html" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/logo.png" alt="Canvas Logo"></a>
                <a href="index.html" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="images/logo@2x.png" alt="Canvas Logo"></a>
            </div><!-- #logo end -->

            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu" class="with-arrows clearfix">

                <ul class="navbar">
                    <li><a href="#"><div>Home</div></a></li>
                    <li><a href="#"><div>Explore</div></a>
                        <ul>
                            <li><a href="#"><div>NextGen Framework</div></a></li>
                            <li><a href="#"><div>Stunning Graphics</div></a></li>
                            <li><a href="#"><div>Secured Solutions</div></a></li>
                        </ul>
                    </li>
                    <li><a href="#"><div>Pricing</div></a></li>
                </ul>

                <ul>
                    <li><a href="#"><div>FAQs</div></a></li>
                    <li><a href="#"><div>Gallery</div></a></li>
                    <li><a href="#"><div>Login</div></a></li>
                </ul>

                <!-- Primary Menu Mobile ========
                    ========================= -->
                <ul class="mobile-primary-menu navbar">
                    <li class="current"><a href="#" data-scrollto="#fall-specials" data-offset="0">
                        <div class="t700">New Patient Offers</div>
                    </a></li>
                    <li class="current"><a href="#" data-scrollto="#patient-reviews" data-offset="0">
                        <div class="t700">Reviews</div>
                    </a></li>
                    <li class="current"><a href="#" data-scrollto="#meet-the-doctors" data-offset="00">
                        <div class="t700">Doctors</div>
                    </a></li>
                    <li class="current"><a href="#" data-scrollto="#office-tour" data-offset="00">
                        <div>Tour</div>
                    </a></li>
                    <li class="current"><a href="#" data-scrollto="#services" data-offset="0">
                        <div>Services</div>
                    </a></li>
                    <li class="current"><a href="#" data-scrollto="#patient-forms" data-offset="00">
                        <div>Forms</div>
                    </a></li>
                    <li class="current"><a href="#" data-scrollto="#contact" data-offset="0">
                        <div>Location</div>
                    </a></li>
                </ul>


            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header><!-- #header end -->
