// Canvas Dependencies //

@import "dependencies/bootstrap.scss";
@import "dependencies/style.scss";
@import "dependencies/swiper.scss";
@import "../css/font-icons";
@import "dependencies/animate.scss";
@import "dependencies/responsive.scss";
@import "dependencies/navbar.scss";
@import "dependencies/footer.scss";

// End Canvas Dependencies //



.testing {
  width: percentage(5/7);
}
.hi {
  color:red;
}

.test {
  width: percentage(5/7);
}

.test-2 {
  width:percentage(5/7);
}

.test-3 {
  width:100%;
}
.box {
  border:1px solid #000;
  color:blueasdfadsf
}

.hi-2 {
  background:hi;
}